beautifulsoup4>=4.7.1
boto3>=1.12.46
cryptography>=2.7
elasticsearch>=7.0.5
google-api-python-client>=1.7.11
google-auth-httplib2>=0.0.3
google-auth-oauthlib>=0.4.1
jmespath>=0.9.5
junit-xml>=1.9
junit2html~=30.0.6
locust>=1.0.2
matplotlib>=3.3.1
pandas>=1.1.2
pathos>=0.2.5
pycodestyle>=2.5.0
pylint>=2.2.2
pypubsub>=4.0.3
pytz>=2018.9
PyYAML>=5.3
requests>=2.21.0
rstr>=2.2.6
selenium>=3.141.0
toml==0.10.2
urllib3>=1.24.1
pytest>=5.1.2
pytest-dependency==0.4.0
pytest-parallel
pytest-rerunfailures
pytest-html
pytest-html-lee
pytest-pythonpath
configparser~=5.0.2
junitparser~=2.1.1
setuptools~=57.4.0
pytest-xdist~=2.3.0
webdriver-manager~=3.4.2
coverage~=5.5
psutil~=5.8.0
browsermob-proxy
pytest-repeat
py~=1.10.0
numpy>=1.21
opencv-python>=4.5.4.60