rkflow file for this run
.github/workflows/build.yml at de77d24
name: App-MMM/mmm-apm-ui

on:
  push:
    branches:
    - master
    - release
    - release-20*
    - do-not-merge
  pull_request:
    branches:
    - master
    - release
    - release-20*

  workflow_dispatch:
    inputs:
      message:
        description: ''
        required: false
        default: ''
env:
  AFAAS_DOCKER_REGISTRY: ${{ secrets.AFAAS_DOCKER_REGISTRY }}
  AFAAS_NPM_TOKEN: ${{ secrets.AFAAS_NPM_TOKEN }}
  AFAAS_NPM_USER: ${{ secrets.AFAAS_NPM_USER }}
  AFAAS_TOKEN: ${{ secrets.AFAAS_TOKEN }}
  AFAAS_URL: ${{ secrets.AFAAS_URL }}
  AFAAS_USER: ${{ secrets.AFAAS_USER }}
  AFAAS_USER_NPM_TOKEN: ${{ secrets.AFAAS_USER_NPM_TOKEN }}
  AFAAS_DOCKER_REGISTRY_REMOTE: ${{ secrets.AFAAS_DOCKER_REGISTRY_REMOTE }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  GHE_SERVER: ${{ secrets.GHE_SERVER }}
  GHE_TOKEN: ${{ secrets.GHE_TOKEN }}
  KYN_GHE_SERVER: ${{ secrets.KYN_GHE_SERVER }}  #github.kyndryl.net
  KYN_GHE_TOKEN: ${{ secrets.KYN_GHE_TOKEN }}
  PYPI_USER: ${{ secrets.PYPI_USER }}
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  TRAVIS_ACCESS_TOKEN: ${{ secrets.TRAVIS_ACCESS_TOKEN }}
  TRAVIS_BUILD_DIR: ${{ github.workspace }}
  TRAVIS_REPO_SLUG: ${{ github.repository }}
  TRAVIS_BRANCH: ${{ github.head_ref }}
  TRAVIS_PULL_REQUEST: ${{ github.event.number }}
  TRAVIS-false: true
  node-version: 12.x
  MARKUP_DIR: "projects"
  LIB_UI_E2E_NAME: "mmm-apm-ui-test"
  LIB_UI_NAME: "mmm-apm-ui"
  PUBLISH: false
  MULTI_TENANT_BY_ORG: true
  DOCKER_IMAGE_NAME: "mmm-apm-ui"
  DEV_SECOPS_HOST_TOKEN: ${{ secrets.DEV_SECOPS_HOST_TOKEN }}

jobs:
  deploy-aks:
    runs-on: ubuntu-latest

    steps:
      - name: 'Git Checkout'
        uses: actions/checkout@v2
      - name: Copy build tools and Run sonarqube
        continue-on-error: true
        run: |
          curl -s -u "${AFAAS_USER}":"${AFAAS_TOKEN}" -X GET "${AFAAS_URL}"'/ibmcb-generic-local/BuildTools/get_build_tools.sh' | bash
          chmod -R 777 travis-scripts
          echo base branch ${BASE_BRANCH}
          echo PR branch ${PULL_REQUEST_BRANCH}
          echo event ${CURRENT_EVENT}
      
      # - uses: azure/setup-kubectl@v2.0

      # - name: Set the target AKS cluster
      #   uses: Azure/aks-set-context@v1
      #   with:
      #     creds: '{
      #               "clientId": "a8ef05af-8d0a-48bc-af65-6fd67bc9214b",
      #               "clientSecret": "4OI-FUEaIqPnfzztmEOlwm7MmLapvN_J3Z",
      #               "subscriptionId": "e55f3ab9-8f34-416e-a2e0-4a77a6da1cc6",
      #               "tenantId": "eff7f985-dc58-4935-a906-050609be85c3",
      #               "activeDirectoryEndpointUrl": "https://login.microsoftonline.com",
      #               "resourceManagerEndpointUrl": "https://management.azure.com/",
      #               "activeDirectoryGraphResourceId": "https://graph.windows.net/",
      #               "sqlManagementEndpointUrl": "https://management.core.windows.net:8443/",
      #               "galleryEndpointUrl": "https://gallery.azure.com/",
      #               "managementEndpointUrl": "https://management.core.windows.net/"
            
      #             }'
      #     cluster-name: ${{ env.CLUSTER_NAME }}
      #     resource-group: ${{ env.CLUSTER_RESOURCE_GROUP }}

      
      # - name: Create namespace if doesn't exist
      #   run: |
      #     kubectl create namespace ${{ env.NAMESPACE }} --dry-run=client -o json | kubectl apply -f -
      
      # - name: Create image pull secret for ACR
      #   uses: Azure/k8s-create-secret@v1.1
      #   with:
      #     container-registry-url: ${{ env.REGISTRY_NAME }}.azurecr.io
      #     container-registry-username: "a8ef05af-8d0a-48bc-af65-6fd67bc9214b"
      #     container-registry-password: "4OI-FUEaIqPnfzztmEOlwm7MmLapvN_J3Z"
      #     namespace: ${{ env.NAMESPACE }}
      #     secret-name: ${{ env.SECRET }}

      # - name: Deploy to AKS
      #   uses: Azure/k8s-deploy@v1
      #   with:          
      #     manifests: |
      #       deployments/master/aks-petstoreorderservice.yml
      #       deployments/master/aks-petstorepetservice.yml
      #       deployments/master/aks-petstoreproductservice.yml
      #       deployments/master/node-istio.yml
      #     imagepullsecrets: |
      #       ${{ env.SECRET }}
      #     namespace: ${{ env.NAMESPACE }}
     
     
      




      


     
      # - name: Check deployment status 
      #   run: |
      #     kubectl get deployments -n ${{ env.NAMESPACE }}
      #     kubectl get svc -n ${{ env.NAMESPACE }}
      #     kubectl get vs -n ${{ env.NAMESPACE }}
      
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install dependencies from requirements.txt
        run: |  
          python -m pip install --upgrade pip
          pip install pytest 
          pip install -r petstore-ui-auyo-test/requirements.txt
          
    
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics


      - name: Make sure pytest is working
        run: |
          echo "def test_1(): pass" > nothing.py
          pytest nothing.py

      - name: Install Chrome and Firefox
        run: |
          sudo apt install google-chrome-stable
          sudo apt-get install firefox
     
      - name: Test with pytest - 1
        run: |
          pytest -vv -rA petstore-ui-auyo-test/tests/store/petstore/test_petstore_welcome_page.py







      

